apiVersion: apps/v1
kind: Deployment
metadata:
  name: starcoin-indexer-repair-deployment
  namespace: starcoin-halley
  labels:
    app: starcoin-indexer-repair
spec:
  replicas: 1
  selector:
    matchLabels:
      app: starcoin-indexer-repair
  template:
    metadata:
      labels:
        app: starcoin-indexer-repair
    spec:
      containers:
        - name: starcoin-indexer-repair
          image: starcoin/starcoin_indexer:halley_fix_db_1
          ports:
            - containerPort: 8300
          env:
            - name: HOSTS
              value: "halley.seed.starcoin.org"
            - name: NETWORK
              value: "halley.0727"
            - name: BG_TASK_JOBS
              value: "indexer,secondary,market_cap,txn_payload"
            - name: BULK_SIZE
              value: "80"
            - name: STARCOIN_ES_PWD
              valueFrom:
                secretKeyRef:
                  name: elasticsearch-pw-elastic
                  key: password
            - name: STARCOIN_ES_URL
              value: "search-starcoin-es2-47avtmhexhbg7qtynzebcnnu64.ap-northeast-1.es.amazonaws.com"
            - name: TXN_OFFSET
              value: "0"
            - name: STARCOIN_ES_PROTOCOL
              value: "https"
            - name: STARCOIN_ES_PORT
              value: "443"
            - name: STARCOIN_ES_USER
              value: elastic
            - name: SWAP_API_URL
              value: "https://swap-api.starswap.xyz"
            - name: SWAP_CONTRACT_ADDR
              value: "0xbd7e8be8fae9f60f2f5136433e36a091"
            - name: DS_URL
              value: "jdbc:postgresql://private-db-postgresql-sgp1-29237-do-user-13054015-0.h.db.ondigitalocean.com:25060/starcoin"
            - name: DB_USER_NAME
              value: "starcoin"
            - name: DB_PWD
              valueFrom:
                secretKeyRef:
                  name: postgresql-starcoin-yu
                  key: password
            - name: DB_SCHEMA
              value: "halley"
            - name: PROGRAM_ARGS
              value: "auto_repair 1"
          #valume:
