name: Build ScanAPI Docker and deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
  release:
    types: [ published ]

jobs:
  build-starcoin-docker:
    name: build starcoin-scan-api docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          submodules: recursive
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: starcoin/starcoin_scan,ghcr.io/starcoinorg/starcoin_scan
          tag-sha: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver: docker
            strategy:
              fail-fast: false
              matrix:
                driver-opts:
                  - env.BUILDKIT_STEP_LOG_MAX_SIZE=10485760
                  - env.env.BUILDKIT_STEP_LOG_MAX_SPEED=10000000
          driver-opts: ${{ matrix.driver-opts }}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GIT_PACKAGE_TOKEN }}
      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@v18
        with:
          repositories: '[{ "id": "github", "url": "https://maven.pkg.github.com/starcoinorg/*" }]'
          servers: '[{ "id": "github", "username": "${{ github.actor }}", "password": "${{ secrets.GIT_PACKAGE_TOKEN }}" }]'
          output_file: settings.xml
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: starcoin-scan-api/deploy/Dockerfile
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}